// app global css in SCSS form
.container {
  // ** NO EDITAR** Haz tu propio container
  min-height: 30vh;
}
.q-page-container {
  padding-top: 0 !important;
}
.padding-por-header {
  padding-top: 180px; // 150px es el tamaño del logo + 20 de padding
}
.fondo-imagen-1 {
  background-image: url('assets/background-images/barberia.jpg');
  background-size: 100%;
  min-height: 750px; //largo
  background-position: bottom;
}
.Contenedor {
  // primera imagen
  background-repeat: no-repeat;
  position: relative;
  left: 100px;
  font-family: 'Alfa Slab One Regular';
  font-weight: bold;
  font-size: 100px;
}
.botonver {
  background: rgb(191, 149, 109);
  color: white;
  width: 150px;
}
.text-6 {
  font-family: 'Alfa Slab One Regular';
  font-weight: 300;
  color: #ffffff; /* Cambia el color del texto (ajusta el valor según tus necesidades) */
  text-align: center; /* Centra el texto horizontalmente */
  position: relative;
  top: 30px; /* Ajusta la posición superior según sea necesario */
}
.text-h6 {
  font-family: 'Alfa Slab One Regular';
  font-weight: 50px;
  color: #b47f4a; /* Cambia el color del texto (ajusta el valor según tus necesidades) */
  text-align: center; /* Centra el texto horizontalmente */
  position: relative;
  top: 0px; /* Ajusta la posición superior según sea necesario */
}
//MENÚ
.logo {
  height: 50px;
}

.bg-white {
  background-color: #f5f5dc !important; /* Se cambia el color de fondo a blanco */
}

.text-black {
  color: #000000 !important; /* Se cambia el color del texto a negro */
}
//MENÚ//
.contenedor-detalles-curso {
  border: 5px solid rgba(191, 149, 109);
  border-radius: 30px;
  max-width: 400px;
  margin: 0 auto;

  .text-h4 {
    text-align: center;
    background: rgb(191, 149, 109);
    font-family: 'Alfa Slab One Regular';
    border-radius: 20px;
    height: 70px;
    color: white;
  }
  .text-h3 {
    font-family: 'Alfa Slab One Regular';
    font-size: 20px;
  }
  .boton {
    font-family: 'Alfa Slab One Regular';
    background: rgb(191, 149, 109);
    left: 100px;
    color: white;
  }
}
.FondoMenu {
  background-image: url('src/assets/background-images/Menu.jpg');
  background-size: 100%;
  min-height: auto; //largo
  background-position: bottom;
}
.text-h7 {
  text-align: center;
  font-family: 'Alfa Slab One Regular';
  border-radius: 20px;
  height: 70px;
  color: rgb(0, 0, 0);
}
//Primera Pagina
.q-img {
  height: 560px;
  width: 100%;
  border-radius: 20px;
}
.q-card {
  max-width: 920px;
  height: 560px;
  border-radius: 20px;
}
//Final
//segunda pagina
.page-bg {
  background-image: url('src/assets/background-images/Menu.jpg'); //Imagen de fondo de la segunda pagina
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-transparent {
  background-color: transparent !important; //Color transparente
}
.logo-image {
  max-width: 90px; //tamaño de la imagen
  display: block;
  margin: 0 auto;
}
.custom-title {
  color: #fff; /* Color blanco */
  font-size: 45px; /* Tamaño de letra 15px */
  font-weight: bold; /* Opcional, para destacar el título */
}
.descripcion {
  font-family: 'Alfa Slab One Regular'; /* Ejemplo: Fuente Courier New */
  font-size: 16px; /* Tamaño de letra 15px */
}
.border-light-brown {
  border: 3px solid #d2b48c; /* Color café claro (tan) */
  border-radius: 10px; /* Bordes redondeados opcionales */
  padding: 1rem; /* Espaciado interno para separar el contenido del borde */
}
//Final
//Pagina 4
.page-background {
  background-color: #ffeed6; /* Café claro */
}
.product-image {
  height: auto;
  width: auto;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.carousel-container {
  max-width: 900px;
  margin: auto;
}
.title-font {
  font-family: 'Alfa Slab One Regular';
}

.subtitle-font {
  font-family: 'Roboto';
}
//fin
.day-card {
  width: 190px;
  border: 2px solid rgb(234, 204, 146);
  height: 170px;
  padding: 20px;
  background-color: #424242;
}
.background {
  background-image: url('src/assets/background-images/Horarios.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
